<div class="modal fade" [class.in]="show" id="theModal" tabindex="-1" role="dialog" aria-labelledby="theModalLabel">
    <div class="modal-dialog largeWidth" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="theModalLabel">{{ title }}</h4>
            </div>
            <div class="modal-body" #modalBody>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="close()">Close</button>
            </div>
        </div>
    </div>
</div>